@{
    ViewBag.Title = "OnePage";
}

<h2>OnePage</h2>
@{
    string lastCategory = "";
    int i = 0;
}
@foreach (var item in ViewBag.Items as List<wn_Admin.Models.Safety.SafetyItem>)
{
    if (lastCategory.Equals(""))
    {
        lastCategory = item.SafetyCategory.SafetyCategoryName;
        <h3>@lastCategory</h3>

    }
    else
    {
        string currentCategory = item.SafetyCategory.SafetyCategoryName;
        if (!lastCategory.Equals(currentCategory))
        {
            lastCategory = currentCategory;
            <hr />
            <h3>@lastCategory</h3>
        }
    }
    <div class="row">
        <div class="col-md-3">
            @item.SafetyItemName
            @Html.Hidden("item_name_" + @i, @item.SafetyItemName)
        </div>
        <div class="col-md-3">
            <select name="item_answer_@i" class="form-control">
                <option value="">Choose ...</option>
                @foreach (var option in ViewBag.YesNoNA as List<wn_Admin.Models.Safety.YesNoNA>)
                {
                    <option value="@option.YesNoNAID">@option.YesNoNAName</option>
                }
            </select>

        </div>

        <div class="col-md-6">
            <input type="text" name="item_comment_@i" class="form-control" style="max-width:100% !important;" />
        </div>
    </div>


                i++;
}
