@model IEnumerable<wn_Admin.Models.Safety.SafetyMeeting>

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/CustomJS/SafetyMeeting.js"></script>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FieldLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SafeWorkPermitNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScopeOfWork)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsReviewedBySafetyManager)
        </th>
        <th>
            <button class="btn btn-primary" id="reviewbtn">Review</button>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FieldLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SafeWorkPermitNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScopeOfWork)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsReviewedBySafetyManager)
        </td>
        <td>
            <input type="checkbox" class="reviewbox" value="@item.SafetyMeetingID" />
        <td>
            @Html.ActionLink("Edit", "Edit", new { meetingID=item.SafetyMeetingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SafetyMeetingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SafetyMeetingID })
        </td>
    </tr>
}

</table>
