@model wn_Admin.Models.Safety.SafetyLeaving

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SafetyLeaving</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SafetyLeavingItem.SafetyLeavingItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SafetyLeavingItem.SafetyLeavingItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SafetyMeeting.FieldLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SafetyMeeting.FieldLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YesNoNA.YesNoNAName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YesNoNA.YesNoNAName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SafetyLeavingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
