@model IEnumerable<wn_Admin.Models.Safety.SafetyLeaving>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SafetyLeavingItem.SafetyLeavingItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SafetyMeeting.FieldLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YesNoNA.YesNoNAName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SafetyLeavingItem.SafetyLeavingItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SafetyMeeting.FieldLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YesNoNA.YesNoNAName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SafetyLeavingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SafetyLeavingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SafetyLeavingID })
        </td>
    </tr>
}

</table>
