@model wn_Admin.Models.Safety.SafetyItemValue

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SafetyItemValue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SafetyCategory.SafetyCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SafetyCategory.SafetyCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SafetyItemValueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SafetyItemValueName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SafetyItemValueID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
