@model wn_Admin.Models.Safety.AccidentType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AccidentType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MajorAccidentForm.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MajorAccidentForm.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccidentTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccidentTypeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AccidentTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
