@model IEnumerable<wn_Admin.Models.Safety.SafetyItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SafetyCategory.SafetyCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SafetyMeeting.SafetyMeetingID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YesNoNA.YesNoNAName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SafetyItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SafetyCategory.SafetyCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SafetyMeeting.SafetyMeetingID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YesNoNA.YesNoNAName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SafetyItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SafetyItemID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SafetyItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SafetyItemID })
        </td>
    </tr>
}

</table>
