@model wn_Admin.Models.CompanyModels.Working

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Working</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Employee.FirstMidName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FirstMidName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.FK_FieldAccess.FieldAccessName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FK_FieldAccess.FieldAccessName)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.OffReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffReason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Task)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.FK_Vehicle.VehicleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FK_Vehicle.VehicleName)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PPYr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PPYr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identifier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identifier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crew)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crew)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartKm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartKm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndKm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndKm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hours)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Bank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OT)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
