@model IEnumerable<wn_Admin.Models.CompanyModels.Working>

@{
    ViewBag.Title = "Index";
}
@section cssSection{
    <link href="~/Content/StyleSheet_Timesheet.css" rel="stylesheet" />
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.ClientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.FirstMidName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FK_FieldAccess.FieldAccessName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FK_OffReason.OffReasonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FK_Task.TaskName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FK_Vehicle.VehicleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PPYr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identifier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Crew)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartKm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndKm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GPS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.ClientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.FirstMidName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FK_FieldAccess.FieldAccessName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FK_OffReason.OffReasonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FK_Task.TaskName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FK_Vehicle.VehicleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PPYr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identifier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Crew)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartKm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndKm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GPS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bank)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WorkingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WorkingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WorkingID })
        </td>
    </tr>
}

</table>
