@model IEnumerable<wn_Admin.Models.CompanyModels.Working>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.FirstMidName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FK_FieldAccess.FieldAccessID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FK_Off.TaskID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FK_Task.TaskID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FK_Vehicle.VehicleID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identifier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Crew)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartKm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndKm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GPS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.FirstMidName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FK_FieldAccess.FieldAccessID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FK_Off.TaskID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FK_Task.TaskID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FK_Vehicle.VehicleID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identifier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Crew)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartKm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndKm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GPS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bank)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WorkingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WorkingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WorkingID })
        </td>
    </tr>
}

</table>
