@model wn_Admin.Models.CompanyModels.WorksFor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WorksFor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.FirstMidName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FirstMidName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorksForID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
