@model IEnumerable<wn_Admin.Models.CompanyModels.Supervision>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Employee")
        </th>
        <th>
            @Html.DisplayName("Supervisor")
        </th>
        <th>
            @Html.DisplayName("Project")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.FirstMidName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supervisor.FirstMidName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { eid=item.EmployeeID, mid=item.SupervisorID, pid=item.ProjectID }) |
            @Html.ActionLink("Details", "Details", new { eid = item.EmployeeID, mid = item.SupervisorID, pid = item.ProjectID }) |
            @Html.ActionLink("Delete", "Delete", new { eid = item.EmployeeID, mid = item.SupervisorID, pid = item.ProjectID })
        </td>
    </tr>
}

</table>
