@model wn_Admin.Models.Safety.SafetyObservation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SafetyObservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.FirstMidName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FirstMidName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crew)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crew)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Investigation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Investigation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KeyState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KeyState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CriticalError)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CriticalError)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SafetyObservationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
