@model wn_Admin.Models.UtilityModels.SummaryModel
@using GridMvc.Html;
@{
    ViewBag.Title = "Index";
}

@section cssSection{
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
}

@section jsSection{
    <script src="~/Scripts/gridmvc.min.js"></script>
    <script src="~/Scripts/CustomJS/project_summary.js"></script>
}



<h2>Project Summary</h2>

<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm("Index", "ProjectSummary", FormMethod.Get))
        {


            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h3 class="panel-title">Advanced Search</h3>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            Client
                            @Html.DropDownList("ClientID", null, "Choose ...", htmlAttributes: new { @class = "form-control" })
                        </div>

                        <div class="col-md-3">
                            Project
                            @Html.DropDownList("ProjectID", null, "Choose ...", htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="col-md-3">
                            Date From
                            @Html.TextBox("startDate", null, htmlAttributes: new { @class = "form-control", @type = "date" })
                        </div>
                        <div class="col-md-3">
                            Date To
                            @Html.TextBox("endDate", null, htmlAttributes: new { @class = "form-control", @type = "date" })
                        </div>
                    </div>
                </div>

                <div class="panel-footer">
                    <input class="btn btn-default" type="submit" value="Search" />
                </div>
            </div>
        }

    </div>
</div>

@{
    var mixedWorkings = Model.MixedWorkings;
    var individualWorkings = Model.IndividualWorkings;
    var expenses = Model.ProjectExpenses;

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Mixed
                    </h3>
                </div>

                <div class="panel-body">

                    @Html.Grid(Model.MixedWorkings).Columns(c =>
                   {
                       c.Add(a => a.Employee.FullName).Filterable(true).Titled("Full Name");
                       c.Add(a => a.Project.ProjectName).Filterable(true).Titled("Project Name");
                       c.Add(a => a.Date).Filterable(true).Titled("Start Time of the Day");
                       c.Add(a => a.EndDate).Filterable(true).Titled("End Time of the Day");
                       c.Add(a => a.Hours).Filterable(true);
                   }).WithPaging(10).Sortable(true)

                </div>
                <div class="panel-footer">
                    <a class="btn btn-primary" id="export">Export into Excel</a>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        By Name
                    </h3>
                </div>

                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.IndividualWorkings.FirstOrDefault().Name)</th>
                            <th>@Html.DisplayNameFor(model => model.IndividualWorkings.FirstOrDefault().Hours)</th>
                            <th>@Html.DisplayNameFor(model => model.IndividualWorkings.FirstOrDefault().Bank)</th>
                            <th>@Html.DisplayNameFor(model => model.IndividualWorkings.FirstOrDefault().OverTime)</th>
                        </tr>

                        @foreach (var w in individualWorkings)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => w.Name)</td>
                                <td>@Html.DisplayFor(modelItem => w.Hours)</td>
                                <td>@Html.DisplayFor(modelItem => w.Bank)</td>
                                <td>@Html.DisplayFor(modelItem => w.OverTime)</td>
                            </tr>
                        }
                        <tr>
                            <td><strong>Total</strong></td>
                            <td><strong>@ViewBag.HourSum</strong></td>
                            <td><strong>@ViewBag.BankSum</strong></td>
                            <td><strong>@ViewBag.OTSum</strong></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Expenses
                    </h3>
                </div>

                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.ProjectExpenses.FirstOrDefault().DateSubmitted)</th>
                            <th>@Html.DisplayNameFor(model => model.ProjectExpenses.FirstOrDefault().Amount)</th>
                        </tr>

                        @foreach (var w in expenses)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => w.DateSubmitted)</td>
                                <td>@Html.DisplayFor(modelItem => w.Amount)</td>
                            </tr>
                        }

                        <tr>
                            <td><strong>Total</strong></td>
                            <td><strong>@(((decimal)ViewBag.AmountSum).ToString("C2"))</strong></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


}

