@model IEnumerable<wn_Admin.Models.Safety.AccidentTypeValue>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccidentTypeValueName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccidentTypeValueName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AccidentTypeValueID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AccidentTypeValueID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccidentTypeValueID })
        </td>
    </tr>
}

</table>
