@model IEnumerable<wn_Admin.Models.CompanyModels.TimeOffRequest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.FirstMidName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OffReason.OffReasonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnToWorkDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.FirstMidName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OffReason.OffReasonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturnToWorkDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TimeOffRequestID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TimeOffRequestID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TimeOffRequestID })
        </td>
    </tr>
}

</table>
