
@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>
<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Go to User Management", "Index")
    </div>
</div>
@if (ViewBag.message != null) { 
    <h4 style="color:green;">@ViewBag.message</h4>
}
<div class="row">
    @using (Html.BeginForm()) { 
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        
        
        <div class="col-md-12">
            Username: @Html.DropDownList("username", (IEnumerable<SelectListItem>)ViewBag.Users, "Select ...")
        </div>
        <div class="col-md-12">
            Password: @Html.TextBox("password")
        </div>
    <div class="col-md-12">
        <input type="submit" value="Change" />
    </div>

    }
</div>

