@model IEnumerable<wn_Admin.Models.CompanyModels.WorkingSupervisor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.FirstMidName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Working.WorkingID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.FirstMidName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Working.WorkingID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WorkingSupervisorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WorkingSupervisorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WorkingSupervisorID })
        </td>
    </tr>
}

</table>
